.buttons {
  button {
    color: white;
  }
}

.servo-0 {
  background-color: pink;
}

.servo-1 {
  background-color: orange;
}

.servo-2 {
  background-color: green;
}

.servo-3 {
  background-color: blue;
}