.buttons {
  button {
    color: white;
  }
}

.servo-0 {
  background-color: black;
}

.servo-1 {
  background-color: orange;
}

.servo-2 {
  background-color: yellow;
  color: #999 !important;
}

.servo-3 {
  background-color: green;
}