/* line 2, /Users/ttt/Work/Dev/ding-ding/app/styles/main.scss */
.buttons button {
  color: white; }

/* line 7, /Users/ttt/Work/Dev/ding-ding/app/styles/main.scss */
.servo-0 {
  background-color: pink; }

/* line 11, /Users/ttt/Work/Dev/ding-ding/app/styles/main.scss */
.servo-1 {
  background-color: orange; }

/* line 15, /Users/ttt/Work/Dev/ding-ding/app/styles/main.scss */
.servo-2 {
  background-color: green; }

/* line 19, /Users/ttt/Work/Dev/ding-ding/app/styles/main.scss */
.servo-3 {
  background-color: blue; }
